@import "./variables";

.FrontPage {
  background: #f3f0d7;
  min-height: 100vh;
  width: 100vw;   
  padding-top: 2rem;
  .repos_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    justify-content: center;
    gap: 3rem;
  }

  .input-container {
    display: flex;
    justify-content: center;
  }

  &_input,
  &_input:focus {
    margin-bottom: 2rem;
    width: 15rem;
    display: block;
    outline: none;
    background: #091353;
    border: none;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;
  }
}
